* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: none;
  background-color: #1f1f1f;
}

canvas {
  display: block;
  margin: auto;
  width: 70vw;
  height: 100vh;
}

canvas:hover {
  cursor: grab;
}

.main-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 15vh 0;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  position: relative;
  font-size: 10vw;
  text-align: center;
  user-select: none;
  animation: updown 2s linear infinite;
}

@keyframes updown {
  0% {
    top: 0;
  }
  50% {
    top: -3vh;
  }
  100% {
    top: 0;
  }
}

.main-menu-btn-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.main-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  height: 6vw;
  width: 50vw;
  font-family: "Press Start 2P", system-ui;
  font-size: 2vw;
  font-weight: 500;
  user-select: none;
}

.main-menu-btn:hover {
  font-weight: 700;
  transform: scale(1.1);
  cursor: pointer;
}

.player-menu {
  position: absolute;
  right: 15vw;
  display: flex;
  gap: 0.5vw;
  justify-content: end;
  padding: 0.5vw 0.3vw;
}

.player-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  padding: 0.2vw;
  aspect-ratio: 1;
  width: 4vw;
  user-select: none;
}

.player-menu-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.player-menu-btn img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.player-menu-btn:hover img {
  opacity: 0.8;
}

.cases-menu,
.manual-menu,
.answer-menu {
  position: absolute;
}

.cases-menu {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  background-color: #afafaf;
  padding: 2vw;
  height: 90vh;
  width: 40vw;
}

.cases-menu h2 {
  font-family: "Press Start 2P", system-ui;
  font-size: 3vw;
}

.cases-list {
  flex: 1;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
}

.case-detail {
  height: 20vh;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
}

.answer-menu {
  height: 90vh;
  width: 40vw;
  background-color: red;
}

.manual-menu {
  height: 90vh;
  width: 66vw;
  background-color: red;
}

.hide {
  display: none;
}

.toggle-path {
  font-size: 1.5vw;
  color: rgb(0, 225, 255);
  text-decoration: underline;
  cursor: pointer;
}