* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #1f1f1f;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  width: 70vw;
  height: 100vh;
  cursor: grab;
}

.main-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 15vh 0;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  position: relative;
  font-size: 10vw;
  text-align: center;
  animation: updown 2s linear infinite;
}

@keyframes updown {
  0% {
    top: 0;
  }
  50% {
    top: -3vh;
  }
  100% {
    top: 0;
  }
}

.main-menu-btn-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.main-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  height: 6vw;
  width: 50vw;
  font-family: "Press Start 2P", system-ui;
  font-size: 2vw;
  font-weight: 500;
}

.main-menu-btn:hover {
  font-weight: 700;
  transform: scale(1.1);
  cursor: pointer;
}

.player-menu {
  position: absolute;
  right: 15vw;
  display: flex;
  gap: 0.5vw;
  justify-content: end;
  padding: 1vw 0.3vw;
}

.player-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  padding: 0.2vw;
  aspect-ratio: 1;
  width: 4vw;
}

.player-menu-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.player-menu-btn img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.player-menu-btn:hover img {
  opacity: 0.8;
}

.cases-btn {
  position: relative;
}

.new-case-counter {
  position: absolute;
  top: -0.9vw;
  left: 2.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #d00;
  aspect-ratio: 1;
  width: 1.8vw;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.6vw;
  color: #fff;
  animation: bounce 1s linear infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.cases-menu,
.manual-menu,
.answer-menu {
  position: absolute;
}

.cases-menu {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  background-color: #afafaf;
  padding: 2vw;
  height: 90vh;
  width: 50vw;
  cursor: grab;
}

.cases-menu div {
  cursor: default;
}

.cases-menu h2 {
  width: fit-content;
  font-family: "Press Start 2P", system-ui;
  font-size: 3vw;
}

.cases-list {
  flex: 1;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
}

.case-detail {
  height: 20vh;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
}

.manual-menu {
  height: 90vh;
  width: 66vw;
  background-color: white;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
}

/* folha de resposta */
.answer-menu {
  border: 0.1vw solid black;
  height: 90vh;
  width: 50vw;
  font-family: "Press Start 2P", system-ui;
  background-color: white;
  padding: 2vw;
  cursor: grab;
}

.answer-menu h2 {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.6vw;
}

.answer-menu h3 {
  font-family: "Press Start 2P", system-ui;
  font-size: 0.8vw;
  padding: 0.4vw 0;
}

#lists-container {
  font-family: "Press Start 2P", system-ui;
  display: flex;
  justify-content: space-between;
}

#diseases-list,
#locations-list {
  list-style-type: none;
  width: 47.5%;
  cursor: default;
}

#diseases-list li,
#locations-list li {
  padding: 0.4vw;
  border-bottom: 0.1vw solid #ddd;
  font-size: 0.6vw;
    cursor: pointer;
}

#diseases-list li span.riscado,
#locations-list li span.riscado {
  text-decoration: line-through;
  color: #999;
}

#diseases-list li span.marcatexto,
#locations-list li span.marcatexto {
  background-color: rgb(230, 192, 22);
  display: inline-block;
  padding: 0px 0.2vw;
}

#diseases-list li span.confirmacao,
#locations-list li span.confirmacao {
  background-color: red;
  display: inline-block;
  padding: 0px 0.2vw;
  color: white;
}

#closeAnswer {
  font-family: "Press Start 2P", system-ui;
  margin: 0;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  background-color: #afafaf;
  padding: 0.8vw 1.6vw;
  width: fit-content;
  font-size: 0.8vw;
  cursor: pointer;
  opacity: 0.7;
}

.hide {
  display: none;
}

.grabbing {
  cursor: grabbing;
}

.toggle-path {
  font-size: 1.5vw;
  color: rgb(0, 225, 255);
  text-decoration: underline;
  cursor: pointer;
}

.btn-selected {
 background-color: #888; 
}