* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #1f1f1f;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  width: 70vw;
  height: 100vh;
  cursor: grab;
}

.main-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 15vh 0;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  position: relative;
  font-size: 10vw;
  text-align: center;
  animation: updown 2s linear infinite;
}

@keyframes updown {
  0% {
    top: 0;
  }
  50% {
    top: -3vh;
  }
  100% {
    top: 0;
  }
}

.main-menu-btn-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.main-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  height: 6vw;
  width: 50vw;
  font-family: "Press Start 2P", system-ui;
  font-size: 2vw;
  font-weight: 500;
}

.main-menu-btn:hover {
  font-weight: 700;
  transform: scale(1.1);
  cursor: pointer;
}

.player-menu {
  position: absolute;
  right: 15vw;
  display: flex;
  gap: 0.5vw;
  justify-content: end;
  padding: 0.5vw 0.3vw;
}

.player-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  padding: 0.2vw;
  aspect-ratio: 1;
  width: 4vw;
}

.player-menu-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.player-menu-btn img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.player-menu-btn:hover img {
  opacity: 0.8;
}

.cases-menu,
.manual-menu,
.answer-menu {
  position: absolute;
}

.cases-menu {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  background-color: #afafaf;
  padding: 2vw;
  height: 90vh;
  width: 40vw;
  cursor: grab;
}

.cases-menu h2 {
  width: fit-content;
  font-family: "Press Start 2P", system-ui;
  font-size: 3vw;
}

.cases-list {
  flex: 1;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
}

.case-detail {
  height: 20vh;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
}

/* folha de resposta */
.answer-menu {
  font-family: "Press Start 2P", system-ui;
  /* center on screen */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-height: 90vh;
  width: 50vw;
  background-color: white;
  border: 1px solid black;
  overflow: auto;
}

#answerLeaf {
  position: relative;
  padding: 2rem;
}

/* .answerMenu:hover {
  transform: scale(1.1);
} */

#closeAnswer {
  font-family: "Press Start 2P", system-ui;
  position: relative;
  bottom: 0.5rem;
  right: 1rem;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.5rem;
}

.manual-menu {
  height: 90vh;
  width: 66vw;
  background-color: white;
  border-right: 0.5vw solid #0f0f0f;
  border-bottom: 0.5vw solid #0f0f0f;
  border-left: 0.5vw solid #5f5f5f;
  border-top: 0.5vw solid #8f8f8f;
}

#lists-container {
  font-family: "Press Start 2P", system-ui;
  display: flex;
  justify-content: space-between;
}

#diseases-list,
#locations-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 45%;
  font-size: 0.5rem;
  cursor: pointer;
}

#diseases-list li,
#locations-list li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

#diseases-list li span.riscado,
#locations-list li span.riscado {
  text-decoration: line-through;
  color: #999;
}

#diseases-list li span.marcatexto,
#locations-list li span.marcatexto {
  background-color: rgb(230, 192, 22);
  padding: 0px 4px;
  display: inline-block;
}

#diseases-list li span.confirmacao,
#locations-list li span.confirmacao {
  background-color: red;
  padding: 0px 4px;
  display: inline-block;
  text-decoration: line-through;
  color: white;
}

#diseases-list li span,
#locations-list li span {
  cursor: pointer;
}

.hide {
  display: none;
}

.grabbing {
  cursor: grabbing;
}
